@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
/* background: url('./images/Publish.webp') no-repeat; */
    /* background-size: 100% 100%;
      background-position: center;
      background-attachment: fixed;
    width: 100%;
     */
  
}
.navbar{
  max-width: 100%;
  height: 60px;
  background-color:white;
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0.2);
  border: 1px solid rgba(235, 230, 230, 0.4);
  display: flex;

  justify-content: space-between;
}

.main{
  max-width: 100%;
  border: 1px solid rgba(235, 230, 230, 0.4);
  display: flex;

  justify-content: space-between;
}

.leftcol{
  width: 25%;
  border: 1px solid rgba(240, 105, 105, 0.4);
}

.rigthcol{
  width: 25%;
  border: 3px solid rgba(240, 38, 38, 0.4);
}

.middlecol{
  width: 50%;
  

}
.imgprofile{
  width: 60px;
  height: 60px;
  border: 1px solid rgba(240, 38, 38, 0.4);
  border-radius: 30px;
  margin: 5px ;

}
.userInfo{
  display: flex;
  align-items: center;

}
.line{
  width: 100%;
  border-top: 1px solid rgba(240, 38, 38, 0.4);
}
.addPost{
  width: 80%;
  
  
}
.ViewPost{
  width: 100%;
  min-height: 100px;
  border: 1px solid white;
  background-color:white;
  border-radius: 20px;
  margin:20px;
}

.PostContent1{
  width: 90% ;
  margin: 5px ;
  margin-left:40px;
  background-color: rgb(229, 232, 235);
  min-height: 50px;
  border-radius: 20px;
  border: 1px solid white;
}
.PostContent{
  width: 100%;
  min-height: 50px;

}
.PostAction{
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}

.like{
  width: 30%;
  background-color:white;
  border: 0px solid rgba(240, 38, 38, 0.4);
  margin: 5px ;
}
.comment{
  width: 30%;
  background-color:white;
  border: 0px solid rgba(240, 38, 38, 0.4);
  margin: 5px ;
}

input[type=button]:hover{
  
  background-color:  rgb(229, 232, 235);
}

.commentPost{
  width: 90% ;
  margin: 5px ;
  margin-left:40px;
  background-color: rgb(229, 232, 235);
  min-height: 50px;
  border-radius: 10px;
}
.PostHeader{
  text-align: center;
  min-height: 50px;
  
}
.postcontainer {
  background-color:white;
  max-width: 500px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
.container-main {
  display: flex;
  max-width: 800px;
  margin: 30px auto;

 
}
body h1{
  text-align: center;
 font-weight: bolder;
 font-size: xx-large;
  color: blue;
}
body{
  background-color:  rgba(235, 230, 230, 0.4);;
}
.container {
  background-color:white;
  max-width: 500px;
  margin: 20px auto;
 
  min-height: 500px;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
img{
  max-width: 100%;
  max-height: 100%;
}
#imgs{
  max-width: 600px;
}
.img2{
  max-width: 150px;
  max-height: 80px;
  margin-left:100px;
}

input[type=text],[type=password],[type=number],[type=email] {
  background-color: rgba(235, 230, 230, 0.4);
  border: 1px solid rgba(161, 160, 160,0.4);
}
input[type=submit] {
  
  padding:5px 20px;
 
 border:1px solid #439F07;
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.1);
 border-radius:0.3em;
 background: rgb(138,199,84); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(138,199,84,1) 0%, rgba(121,201,50,1) 45%, rgba(102,190,24,1) 48%, rgba(57,150,2,1) 97%, rgba(102,174,63,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,199,84,1)), color-stop(45%,rgba(121,201,50,1)), color-stop(48%,rgba(102,190,24,1)), color-stop(97%,rgba(57,150,2,1)), color-stop(100%,rgba(102,174,63,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom,  rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754', endColorstr='#66ae3f',GradientType=0 ); /* IE6-9 */
color:#000;

 font-weight:bold;
 cursor:pointer;
 font-size:15px;
 outline: none;
}
Link{
  color:steelblue;
}
input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
    background: rgb(102,174,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,174,63,1) 0%, rgba(57,150,2,1) 3%, rgba(102,190,24,1) 52%, rgba(121,201,50,1) 55%, rgba(138,199,84,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,174,63,1)), color-stop(3%,rgba(57,150,2,1)), color-stop(52%,rgba(102,190,24,1)), color-stop(55%,rgba(121,201,50,1)), color-stop(100%,rgba(138,199,84,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754',GradientType=0 ); /* IE6-9 */

}

.container-login {
  background-color:white;
  margin: 3px;
  margin-top:70px;
  
 
  min-height: 400px;
  border: 1px solid white;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 40%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

#div1, #div2,#div3,#div4{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.florm-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}