.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/* border: 6px inset rgba(28,110,164,0.16);
	border-radius: 30px;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);*/
}

body {
	background: #A277CE;
	background: -moz-linear-gradient(top, #A277CE 0%, #E6FFFA 83%, #9EC5B2 100%);
	background: -webkit-linear-gradient(top, #A277CE 0%, #E6FFFA 83%, #9EC5B2 100%);
	background: linear-gradient(to bottom, #A277CE 0%, #E6FFFA 83%, #9EC5B2 100%);
	background: cover;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/*   border: 6px inset rgba(28,110,164,0.16); 
	border-radius: 30px;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
}

input {
	margin: 3px;
}

table.cinereousTable {
	border: 6px solid #948473;
	background-color: #FFE3C6;
	width: 100%;
	text-align: center;
}

table.cinereousTable td, table.cinereousTable th {
	border: 1px solid #948473;
	padding: 4px 4px;
}

table.cinereousTable tbody td {
	font-size: 13px;
}

table.cinereousTable thead {
	background: #948473;
	background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table.cinereousTable thead th {
	font-size: 17px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: left;
	border-left: 2px solid #948473;
}

table.cinereousTable thead th:first-child {
	border-left: none;
}

.topOptions {
	position: relative;
	float: right;
}

input[type="submit"] {
	box-shadow:inset 0px 0px 34px -9px #255787;
	background:linear-gradient(to bottom, #4a86c2 5%, #99b0c7 100%);
	background-color:#4a86c2;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;
	text-shadow:0px 3px 3px #3b658f;
}

input[type="submit"]:hover {
	background:linear-gradient(to bottom, #99b0c7 5%, #4a86c2 100%);
	background-color:#99b0c7;
}

input[type="submit"]:active {
	position:relative;
	top:1px;
}

input[type="text"] {
	padding: 5px;
	font-size: 16px;
	border-width: 3px;
	border-color: #9692c9;
	background-color: #ffffff;
	color: #000000;
	border-style: groove;
	border-radius: 15px;
	box-shadow: -6px 4px 4px rgba(66, 66, 66, .45);
	text-shadow: 15px -48px 5px rgba(66, 66, 66, .75);
}

input[type="text"]:focus {
	outline: none;
}

input[type="password"] {
	padding: 5px;
	font-size: 16px;
	border-width: 3px;
	border-color: #9692c9;
	background-color: #ffffff;
	color: #000000;
	border-style: groove;
	border-radius: 15px;
	box-shadow: -6px 4px 4px rgba(66, 66, 66, .45);
	text-shadow: 15px -48px 5px rgba(66, 66, 66, .75);
}

input[type="password"]:focus {
	outline: none;
}

.button { 
	box-shadow:inset 0px 0px 34px -9px #255787;
	background:linear-gradient(to bottom, #4a86c2 5%, #99b0c7 100%);
	background-color:#4a86c2;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;
	text-shadow:0px 3px 3px #3b658f;
}

.button:hover {
	background:linear-gradient(to bottom, #99b0c7 5%, #4a86c2 100%);
	background-color:#99b0c7;
}

.button:active {
	position:relative;
	top:1px;
}